## Clean and analyze social media usage data with Python
Hello! <br>
I'm Luan (or Lana), a Brazilian non-binary person and I'm 26 years old. Four years ago I found out about Pyhton and data analysis, then I took my time to learn about it and I fell in love for them! Now I fell confortable to start my projects to challenge myself and show the world what I can do and what I learnt.<br>

This is my first data analysis project. I took tips from **Clean and analyze social media usage data with Python** from Coursera's course and I'll do my best to show my results. It's a simple project, but I feel it's a perfect start point to improve my knowledges. <br>

I'll use generated data from *random library* then clean and analyze. After, I'll use some visualization libraries to get insinghts from that data.

First of all, we need to import useful libraries like pandas, numpy, random, matplotlib and seaborn.

In [9]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns

#### Generating and transforming data
Once libraries were imported we can start generating our data using the random library. <br> After we transform our data, which is a python dictionary, into a pandas dataframe.

In [27]:
categories = ['Food', 'Travel', 'Fashion', 'Fitness', 'Music', 'Culture', 'Politics']
social_media = ['Facebook', 'X (former Twitter)', 'Threads', 'Instagram']
data = {'Date': pd.date_range('2021-01-01', periods=1000), 'Category': [random.choice(categories) for _ in range(1000                                                                                                                )],
        'Likes': np.random.randint(0, 10000, size=1000), 'Social Media': [random.choice(social_media) for _ in range(1000)]}
df = pd.DataFrame(data)
df

          Date  Category  Likes Social Media
0   2021-01-01  Politics   4341      Threads
1   2021-01-02      Food   7140    Instagram
2   2021-01-03      Food   1780      Threads
3   2021-01-04   Fitness   2713     Facebook
4   2021-01-05      Food   7730      Threads
..         ...       ...    ...          ...
995 2023-09-23    Travel   2368    Instagram
996 2023-09-24   Fitness   7283      Threads
997 2023-09-25      Food   8592    Instagram
998 2023-09-26    Travel   6338     Facebook
999 2023-09-27   Fitness   1755     Facebook

[1000 rows x 4 columns]

#### Analyzing data
When importing data, it's good to check informations about it before working. In this case, we have generated data, which types we already know, but let's check it.

In [16]:
df.dtypes

Date        datetime64[ns]
Category            object
Likes                int32
dtype: object

We have datetime (Date), object (Category) and integer (Likes) as dtypes for this dataframe, in this way we can continue our analysis whithout any type transformation. <br>
We can call describe() pandas method to check out basics informations about our dataset.

In [43]:
df.describe()

             Likes
count  1000.000000
mean   4978.842000
std    2916.284446
min      28.000000
25%    2395.000000
50%    5088.500000
75%    7471.500000
max    9997.000000

The first operation that we'll use is groupby, which combines our data and makes it's easier to work with.<br>
First of all, we'll groupby by Social Media and Categories and sum Likes columns to summarize our data. Transforming the resulting Series in a DataFrame makes it's easier to understand and visualize the results.

In [48]:
sum_likes = df.groupby(['Social Media','Category'])['Likes'].sum()
sum_likes = pd.DataFrame(sum_likes)
sum_likes.sort_values(by='Likes', ascending=False, inplace=True)
sum_likes.head()

                              Likes
Social Media       Category
Instagram          Food      248044
Threads            Fashion   242796
Facebook           Food      210270
X (former Twitter) Food      210261
Instagram          Culture   209332